<h2>Enter a word and a sentence!</h2>
<form action="/items" method="post">
  <label for="new-word">Word:</label>
  <input id="new-word" name="new-word" type="text">
  <label for="new-sentence">Sentence:</label>
  <input id="new-sentence" name="new-sentence" type="text">
  <button type="submit">Submit</button>
</form>
<p><a href='/'>Back to Home<a/></p>
