<h3>Given Word: @Model.GetUserInput()</h3>
<h4>Given Sentence: @Model.GetUserCompareString()</h4>
<p>@Model.GetUserInput() appears @Model.GetCounter() time(s).<p>
<p><a href='/items/new'>Try another count<a/></p>
